.header-menu {
  display: flex;
  margin-right: auto;

  a {
    padding: 5px 15px;
    text-decoration: none;
    color: #444;
    border: 1px solid #ccc;
    background: #fff;
    transition: all 0.3s;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
    margin-right: 5px;

    &:hover,
    &.active {
      border-color: #aaa;
      color: #272727;
    }
  }
}