.prayer {
  display: flex;
  align-items: center;
  font-weight: 300;
  background: #fff;
  border: 1px solid #dadada;
  box-shadow: 0 2px 5px rgba(0,0,0,.05);
  height: 60px;
  margin: 5px 0;
  padding: 10px;
  color: #313131;
  justify-content: space-between;
  border-radius: 4px;
  font-size: 13px;
  font-weight: normal;

  .time-wrapper {
    display: flex;

    .remaining {
      opacity: 0.25;
      padding: 0 5px;
    }
  }

  &.active {
    border-color: #aaa;
    color: #272727;
    font-size: 1.25em;
    font-weight: bold;
  }
}

.next-prayers-wrapper {
  background: #fff;
  border: 1px solid #dadada;
  box-shadow: 0 2px 5px rgba(0,0,0,.05);
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
}