* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 40px;
}

.font-alt {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.prayers {
  margin-top: 10px;
  padding: 5px;
}