.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 5px;

  .locations-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    border: 1px solid #ccc;
    padding: 0 5px;
    background: #fff;
    transition: all 0.3s;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.05);

    &:hover {
      border-color: #aaa;
    }
  }

  #locations {
    appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    background: #fff;
    outline: none;
  }

  .select-icon {
    width: 5px;
    height: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #444;
  }
}