.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  flex-direction: column;

  .header-info {
    padding: 10px 0;
  }

  .locations-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
    font-weight: bold;

    &:hover {
      border-color: #aaa;
    }
  }

  #locations {
    appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    background: #fff;
    outline: none;
    font-size: 14px;
  }

  .select-icon {
    width: 5px;
    height: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #444;
  }

  .header-menu {
    display: flex;
    width: 100%;

    a {
      padding: 5px 15px;
      text-decoration: none;
      color: #444;
      border: 1px solid #ccc;
      background: #fff;
      transition: all 0.3s;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
      margin-right: 5px;

      &:hover,
      &.active {
        border-color: #aaa;
        color: #272727;
      }
    }
  }
}