.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  flex-direction: column;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .locations-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
    font-weight: bold;

    &:hover {
      border-color: #aaa;
    }
  }

  #locations {
    appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    background: #fff;
    outline: none;
    font-size: 14px;
  }

  .select-icon {
    width: 5px;
    height: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #444;
  }
}