.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  flex-direction: column;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .header-info {
    align-self: flex-end;
  }
}