.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  padding: 5px;
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.05);
  font-size: 14px;
  background: #f9f9f9;

  a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
  }

  .footer-text {
    width: 100%;
    text-align: center;
  }
}