.notification {
  margin-bottom: 20px;

  &.disabled {
    opacity: 0.25;
  }

  .slider {
    display: flex;
    flex-wrap: wrap;

    .check-box-wrapper {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .label {
        font-size: 14px;
      }

      .check-box {
        display: none;
      }

      .icon {
        margin-bottom: unset;
        font-size: 32px;
        line-height: 0;
        color: #6c757d;
      }

      .icon-toggle-on {
        color: #007bff;
      }
    }

    .range {
      flex-basis: 100%;
      outline: none;
      margin-top: 10px;

      &::-webkit-slider-runnable-track {
        height: 15px;
      }

      &::-moz-range-track {
        height: 15px;
      }

      &::-moz-range-thumb {
        height: 25px;
        width: 25px;
      }

      &::-webkit-slider-thumb {
        height: 25px;
        width: 25px;
      }
    }
  }
}