.settings {
  padding: 5px;

  .title-wrapper {
    display: flex;
    font-weight: bold;
    width: auto;
    color: #242424;
    padding-bottom: 5px;
  }

  .label {
    flex-basis: 100%;
    margin-bottom: 0;
  }
}